<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='Footer')"><title>Footer</title></head>
<body>
<div th:fragment="footer">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</div>
<footer class="navbar-dark bg-dark navbar-dark">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <hr class="light">
                <h5>Our Contacts</h5>
                <hr class="light">
                <p>777-777-7777</p>
                <p>dogparty@gmail.com</p>
                <p>100 Fake Street</p>
                <p>Chicago, IL, 60624</p>
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h5>Our Support Hours</h5>
                <hr class="light">
                <p>Monday-Friday: 9am - 5pm</p>
                <p>Saturday: 10am - 3pm</p>
                <p>Sunday: 11am - 2pm</p>
            </div>
            <div class="col-12">
                <hr class="light-max">
                <h5>&copy; Dog Party</h5>
            </div>
        </div>
    </div>
</footer>
</body>
</html>