<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="header(page)">
    <meta charset="UTF-8">
    <title th:text="'Dog Party- ' + ${page}">Dog Party</title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.15.2/css/all.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark navbar-dark">
    <a class="navbar-brand" href="/">
        <i class="fa fa-bone"></i>
        <span class="pl-2">Dog Party</span>
    </a>
    <a class="btn btn-danger ml-auto mr-1" href="/logout">Sign Out</a>
    <ul class="navbar-nav flex-row">
        <li class="nav-item pl-2">
            <a class="nav-link" href="/editprofile"><i class="fa fa-user-circle fa-lg"></i></a>
        </li>
        <li class="nav-item pl-2">
            <a class="nav-link" href="#"><i class="fa fa-bell-o fa-lg"></i></a>
        </li>
    </ul>
</nav>

<aside th:fragment="sidebar" class="col-12 col-sm-3 col-xl-2 p-0 bg-dark flex-shrink">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
        <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse sidebar">
            <ul class="flex-column navbar-nav w-100 justify-content-start">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/"><i class="fa fa-home fa-fw"></i> <span class="pl-2">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/editprofile"><i class="fa fa-user fa-fw"></i> <span class="pl-2">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/walk"><i class="fa fa-book fa-fw"></i> <span class="pl-2">Book a Walk</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/sitter"><i class="fa fa-book fa-fw"></i> <span class="pl-2">Book a Sitter</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/store"><i class="fa fa-shopping-cart fa-fw"></i> <span class="pl-2">Pet Store</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/grooming"> <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> <span class="pl-2">Grooming</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
</body>
</html>