.auth-page {
    padding-top: 100px;
}

.user-form {
    padding-top: 30px;
}

.profilePicture{
    max-width: 125px;
    max-height: 175px;
}

.editProfileButton{
    background-color: #4CAF53;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
}

.newproduct-button{
    background-color: #4CAF53;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    float: right;
}

.newproduct-button-text, .newproduct-button-text:hover{
    color: white;
    text-decoration: none;
}


.store-filters-button{
    background-color: grey;
    color: white;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
}

.delete-button{
    background-color: red;
    color: white;
    padding: 2px 15px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 11px;
}

.delete-button-text, .delete-button-text:hover{
    color: white;
    text-decoration: none;
}

.edit-button{
    background-color: blue;
    color: white;
    padding: 2px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.edit-button-text, .edit-button-text:hover{
    color: white;
    text-decoration: none;
}

.filter-button-text, .filter-button-text:hover{
    color: white;
    text-decoration: none;
}

.login-button{
    background-color: #4CAF53;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 100px;
    font-weight: bold;
}

.create-account-button{
    background-color: #4CAF53;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 150px;
    font-weight: bold;
}
.cancel-account-button{
    background-color: red;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 100px;
    font-weight: bold;
}

#update-profile-form{
    margin: 20px;
    width: 20%;
    padding: 10px;
}

#imageurl-profile{
    width: 400px;
    height: 100px;
}

#firstname-profile{
    width: 400px;
}

#lastname-profile {
    width: 400px;
}

#address-profile{
    width: 400px;
    height: 100px;
}

.product-image {
    max-width: 125px;
    max-height: 175px;
}

.img-thumbnail{
    width: 50px;
    height: 50px;
}

#update-product-form{
    margin: 20px;
    width: 20%;
    padding: 10px;
}

#update-profile-form{
    margin: 20px;
    width: 20%;
    padding: 10px;
}

#imageurl-profile{
    width: 400px;
    height: 100px;
}

.picture-product{
    width: 125px;
    max-height: 150px;
}

#description-product{
    width: 400px;
    height: 100px;
}

#imageurl-product{
    width: 400px;
}

#name-product {
    width: 400px;
}

#price-product {
    width: 400px;
}

#category-product {
    width: 400px;
}

#address-profile{
    width: 400px;
    height: 100px;
}