<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='home')">
    <title>Add Review</title>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row wrapper min-vh-100 flex-column flex-sm-row">
        <div th:replace="fragments/header :: sidebar"></div>
        <main class="col bg-faded">
            <div class="row" th:if="${!acceptedJobs.isEmpty()}" >
                <div class="col-xl ml-4 my-3 mx-3">
                    <form action="/sitter" th:object = "${review}" method = "post" class="dogPartyForm main-form needs-validation" novalidate>
                        <div class="form-group">
                            <label class="mt-3" for="sittingDate">Schedule Date</label>
                            <input id="sittingDate" type ="datetime-local" th:field="*{jobDateHolder}" class="form-control" required>
                            <div class="invalid-feedback">Please enter a date.</div>
                        </div>
                        <div class="form-group">
                            <label class="mt-3" for="sitterJobDescription">Job Description</label>
                            <textarea id="sitterJobDescription" th:field="*{jobDescption}" class="form-control dogPartyTextAreaF" required></textarea>
                            <div class="invalid-feedback">Please enter a job description.</div>
                            <label class="mt-3" for="sitterJobLocation">Job Location</label>
                            <textarea id="sitterJobLocation" th:field="*{jobLocation}" class="form-control dogPartyTextAreaF" required></textarea>
                            <div class="invalid-feedback">Please enter a job location.</div>
                        </div>
                        <div class="from-group">
                            <label class ="mt-3" for="sitterServiceLevel">Service Level</label>
                            <input id="sitterServiceLevel" type="number" min="1" th:field="*{serviceLevel}" class="form-control" required>
                            <div class="invalid-feedback">Please enter a number greater than zero.</div>
                        </div>
                        <button type="submit" id="sitterSubmitButton" class="btn mt-3 editProfileButton">Submit</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>