<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='home')">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row wrapper min-vh-100 flex-column flex-sm-row">
        <div th:replace="fragments/header :: sidebar"></div>
        <main class="col bg-faded">
            <div class="container p-3 m-1">
                <h2>Product</h2>
                    <form action="/product/new" th:object="${newProduct}" method="post" id="update-product-form">
                        <img class="picture-product" id="picture-product" th:src="*{(getImageURL() != null ? imageURL : '/img/noimage.png')}">
                        <br>
                        <label class="mt-3" for="imageurl-product">Image URL</label>
                        <textarea id="imageurl-product" th:field="*{imageURL}"></textarea>
                        <br>
                        <label class="mt-3" for="name-product">Product Name</label>
                        <input id="name-product" th:field="*{productName}" required>
                        <br>
                        <input id="price-product" th:field="*{price}" required>
                        <br>
                        <label class="mt-3" for="category-product">Category</label>
                        <select id="category-product" th:field="*{categoryId}" required>
                            <option value="Toys">Toys</option>
                            <option value="Food">Food</option>
                            <option value="Accessories">Accessories</option>
                            <option value="GroomingSupplies">Grooming Supplies</option></select>
                        <br>
                        <label class="mt-3" for="description-product">Product Description</label>
                        <textarea id="description-product" th:field="*{productDescription}" required></textarea>
                        <br>
                        <button type="submit" id="editProfileButton" class="btn mt-3 editProfileButton">Save</button>
                    </form>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/productEdit.js}"></script>
</body>
</html>