<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='home')">
    <title>Reviews</title>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row wrapper min-vh-100 flex-column flex-sm-row">
        <div th:replace="fragments/header :: sidebar"></div>
        <main class="col bg-faded">
            <h2>Reviews</h2>
            <table class="table table-dark">
                <div class="row" th:if="${!reviews.isEmpty()}" >
                    <div class="col-xl ml-4 my-3 mx-3"   th:each="review : ${reviews}">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Comment</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${review.getUID()}"></td>
                            <td th:text="${review.getComment()}"></td>
                            <td th:text="${review.getRating()}"></td>
                        </tr>
                        </tbody>
                    </div>
                    </div>
                        </table>
                </main>
                </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>