<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header(page='walk')">
    <title>Dog Sitting</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>

    <div class="container-fluid">
        <div class="row wrapper min-vh-100 flex-column flex-sm-row">
            <div th:replace="fragments/header :: sidebar"></div>
            <main class="col bg-faded">
                <div class="container p-3 m-1">
                    <h2>Book A Walker</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <form action="/walk" th:object ="${newWalking}" method ="post" class="dogPartyForm main-form needs-validation" novalidate>
                            <div class="form-group">
                                <label class="mt-3" for="walkingDate">Schedule Date</label>
                                <input id="walkingDate" type ="datetime-local" th:field="*{jobDateHolder}" class="form-control" required>
                                <div class="invalid-feedback">Please enter a date.</div>       
                            </div>
                            <div class="form-group">
                                <label class="mt-3" for="walkingJobDescription">Job Description</label>
                                <textarea id="walkingJobDescription" th:field="*{jobDescption}" class="form-control dogPartyTextAreaF" required></textarea>
                                <div class="invalid-feedback">Please enter a job description.</div>  
                                <label class="mt-3" for="walkingJobLocation">Job Location</label>
                                <textarea id="walkingJobLocation" th:field="*{jobLocation}" class="form-control dogPartyTextAreaF" required></textarea>
                                <div class="invalid-feedback">Please enter a job location.</div>  
                            </div>
                            <div class="form-group">
                                <label class ="mt-3" for="walkingDistance">Walking Distance</label>
                                <input id="walkingDistance" type="number" min="1" th:field="*{totalDistance}" class="form-control" required>
                                <div class="invalid-feedback">Please enter a number greater than zero.</div>
                            </div>
                            <button type="submit" id="walkerSubmitButton" class="btn mt-3 editProfileButton">Submit</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <img src="/img/walkerImage.png" class="sitWalkImage">
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script>
        var form = document.querySelector('.needs-validation');
        form.addEventListener('submit', function(event){
            if(form.checkValidity() === false){
                event.preventDefault();
                event.stopPropagation();
            }else{
                alert("Job has been created!");
            }
            form.classList.add('was-validated');
        })
    </script>
</body>
</html> 